<tr>
    <td class="td-img-cat">
        <div class="imgwr">
            <a href="/[[+uri]]"><img src="[[phpThumbOn? &input=`[[+tv_preimg_subcat]]`]]" alt="[[+pagetitle]]"/></a>
        </div>
    </td>
    <td><a href="/[[+uri]]">[[+pagetitle]]</a></td>
    <td class="songs-count">[[!CountChildren?
        &parents=`[[+id]]`
        ]]
    </td>
</tr>