<form class="sisea-search-form" action="/[[~[[+landing]]]]" method="[[+method]]">
    <fieldset>
        <input placeholder="поиск..." required type="text" name="[[+searchIndex]]" id="[[+searchIndex]]" value="[[+searchValue]]" />
        <input type="hidden" name="id" value="[[+landing]]" />
        <button class="icon-search" type="submit" value="" /></button>
    </fieldset>
</form>