<url>
    <loc>[[!ReplaceHttpToHttps? &link=`[[~[[+id]]? &scheme=`full`]]`]]</loc>
    <lastmod>[[!getLastUpdate? &date=[[+editedon]] ]]</lastmod>
    <priority>[[*site-map-priority]]</priority>
</url>