
body{
  font: 400 @f-size @f-family-base;
  background: @base-bg;
  color: @base-color;
}
*{
  box-sizing: border-box;
  &::after, &::before{
    box-sizing: border-box;
  }
}
ul, ol{
  padding: 0;
  margin: 0;
}
a{
  outline: none;
  color: @link-color;
  text-decoration: none;
  transition: all .3s;
  &:hover, &:focus{
    outline: none;
  }
  &:hover{
    text-decoration: underline;
  }
}
img{
  max-width: 100%;
  height: auto;
}
textarea{
  resize: none;
  overflow: hidden;
}

body, html{
  height: 100%;
}
table{
  width: 100%;
}
button,
input{
  outline: none;
  &:focus{
    outline: none;
  }
}
p{
  margin: 0 0 10px 0;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.wrap{
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}
.bgimg{
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.armodule{
  border: 1px solid @border;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
  padding: 10px;
  margin-bottom: 20px;
  background: @white;
  li{
    list-style: none;
  }
}
.container{
  position: relative;
}
main{
  padding-bottom: @footer;
  > .container{
    margin-bottom: 30px;
  }
}
.glob{
  min-height: 100%;
}
h1, h2, h3, h4{
  font-family: @s-family-spec;
}
h1{
  font-size: @f-size-xxl;
  margin: 0 0 20px;
}
h2,h3{
  font-size: @f-size-xl;
}
th, td{
  padding: 5px;
}
th{
  letter-spacing: 1px;
}
.table-striped{
  td{
    transition: all 0.3s;
  }
  tr{
    &:hover{
      td{
        background: darken(@snow, 3%);
      }
    }
  }
}
.hidden{
  display: none;
}
.gblock,
ul.pagination{
  margin-bottom: 15px;
}
@media screen and (max-width: 767px){
  h1{
    font-size: 22px;
  }
}