@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?8tn3o83');
  src:  url('../fonts/icomoon.eot?8tn3o83#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?8tn3o83') format('truetype'),
  url('../fonts/icomoon.woff?8tn3o83') format('woff'),
  url('../fonts/icomoon.svg?8tn3o83#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icomoon{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  .icomoon;
}

.icon-sort:before {
  content: "\e900";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-music:before {
  content: "\e911";
}
.icon-play:before {
  content: "\e912";
}
.icon-file-picture:before {
  content: "\e927";
}
.icon-file-music:before {
  content: "\e928";
}
.icon-file-play:before {
  content: "\e929";
}
.icon-box-add:before {
  content: "\e95e";
}
.icon-box-remove:before {
  content: "\e95f";
}
.icon-search:before {
  content: "\e986";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-file-pdf:before {
  content: "\eadf";
}