.clnr{
  content: "";
  display: block;
  height: 0;
  clear: both;
  font-size: 0;
}
.cleaning{
  &:after{
    .clnr;
  }
}
.box-shadow(@horizontal: 0px, @vertical: 0px, @blur: 10px, @opacity: 0.7){
  -webkit-box-shadow: @horizontal @vertical @blur 0 rgba(50, 50, 50, @opacity);
  -moz-box-shadow:    @horizontal @vertical @blur 0 rgba(50, 50, 50, @opacity);
  box-shadow:         @horizontal @vertical @blur 0 rgba(50, 50, 50, @opacity);
}
.gradient {
  background: @l-blue;
  background: -moz-linear-gradient(top, @l-blue 0%, @blue 99%);
  background: -webkit-linear-gradient(top, @l-blue 0%, @blue 99%);
  background: linear-gradient(to bottom, @l-blue 0%, @blue 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@l-blue', endColorstr='@blue', GradientType=0);
}
