@base-color: #151515;
@base-bg: #e9f0fb;
@white: #fff;
@orange-roughy: #aa5839;
@caput-mortuum: #551700;
@burnt-umber: #8B2500;
@link-color: @blue;
@copper: #d4876a;
@melon: #ffc1aa;
@blue: #0066e2;
@l-blue: #78b4e2;
@green: #407213;
@gray: #898989;
@snow: #f9f9f9;
@vl-gray: #c7c7c7;
@x-gray: #e5e5e5;
@border: #d6d6d6;

@f-family-base: 'PT Sans Narrow', sans-serif;
@s-family-spec: 'Kelly Slab', cursive;

@f-size-xxxxl: 35px;
@f-size-xxxl: 30px;
@f-size-xxl: 25px;
@f-size-xl: 20px;
@f-size-l: 18px;
@f-size: 16px;
@f-size-s: 14px;
@f-size-xs: 13px;
@f-size-xxs: 12px;

@footer: 50px;