.descgroupwr{
  padding-top: 10px;
  .imggr{
    margin-bottom: 15px;
    max-height: 385px;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
  }
}
.td-img-cat{
  width: 90px;
  text-align: center;
  .imgwr{
    width: 50px;
    display: inline-block;
    img{
      border-radius: 4px;
    }
  }
}
.tablecat{
  margin-bottom: 20px;
  .songs-count{
    width: 100px;
    text-align: center;
  }
  th, td{
    height: 50px;
  }
}
.tablesubcat{
  margin-bottom: 20px;
  th, td{
    height: 40px;
  }
  .viewscount{
    width: 90px;
    text-align: center;
  }
}
.descgr{
  text-align: justify;
  margin-bottom: 20px;
}
@media screen and(max-width: 767px){
  .td-img-cat{
    padding: 0;
    width: 0;
    .imgwr{
      display: none;
    }
  }
}