.tpl-article{
  .introtext{
    margin-bottom: 15px;
  }
}
pre.song{
  b{
    color: darken(@blue, 20%);
  }
}
.songvideo_inwr{
  position: relative;
  padding-top: 56.25%;
}
.songvideo{
  max-width: 560px;
  max-height: 315px;
  margin-bottom: 20px;
  iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.ch-tonality{
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  & > div{
    margin-right: 10px;
  }
  button{
    cursor: pointer;
  }
}
.song-accords__inner{
  display: flex;
  flex-wrap: wrap;
}
.song-accords__el{
  margin: 0 0 10px;
}
.song-accords__img{
  margin: 0 3px;
}
.breadcrumb-item.active{
  display: none;
}
.song-list-ctrl{
  cursor: pointer;
  position: relative;
  padding-right: 15px;
  user-select: none;
  &:hover{
    &:before {
      color: darken(@gray, 30%);
    }
  }
  &:before{
    color: @gray;
    position: absolute;
    right: 0;
    top: 4px;
    font-size: 14px;
  }
}
.song-list-ctrl_type_name{
  &:before{
    color: @gray;
  }
}
.song-list-ctrl_type_views{
  &:before{
    color: @blue;
  }
}
.songs-sort-name{
  .song-list-ctrl_type_name{
      &:before{
        color: @blue;
      }
    &:hover{
      &:before{
        color: darken(@gray, 30%);
      }
    }
  }
  .song-list-ctrl_type_views{
    &:before{
      color: @gray;
    }
    &:hover{
      &:before{
        color: darken(@gray, 30%);
      }
    }
  }
}

@media screen and (max-width: 767px){
  .breadcrumbs{
    display: none;
  }
}
@media screen and (max-width: 480px){
  pre.song{
    font-size: 12px;
  }
}