.footer{
  height: @footer;
  margin-top: -@footer;
  border-top: 1px solid @border;
  padding-top: 5px;
}
.crtext{
  font-size: @f-size-xxs;
  color: @gray;
}
.liveinternet{
  position: absolute;
  right: 20px;
  top: 10px;
}
@media screen and (max-width: 767px){
  .liveinternet{
    top: 0;
  }
}