input[type="text"],
input[type="email"],
input[type="password"] {
  height: 35px;
  border: 1px solid @gray;
  padding: 0 5px 0 10px;
  background: @white;
  border-radius: 4px;
  &:focus {
    border: 1px solid @l-blue;
    box-shadow: 0 0 6px 0 rgba(66, 151, 255, .7);
  }
}
//убираем точки вокруг кнопок
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}

input[type="submit"],
button{
  cursor: pointer;
}