.topmenu{
  margin-bottom: 20px;
  .gradient();
  ul{
    &:after{
      .clnr;
    }
    li{
      float: left;
      font-size: @f-size-l;
      a{
        color: @white;
        display: inline-block;
        height: 40px;
        line-height: 38px;
        vertical-align: middle;
        padding: 0 15px;
        &:hover{
          text-decoration: none;
          //background: darken(@burnt-umber, 5%);
        }
      }
    }
  }
}
.topheader{
  height: 70px;
  .logo{
    width: 64px;
    padding-top: 2px;
    a{
      display: block;
      height: 64px;
      background: url("../images/logo.png") no-repeat 0 50%;
    }
  }
  .search{
    position: absolute;
    right: 15px;
    top: 20px;
    form{
      position: relative;
      button[type="submit"]{
        position: absolute;
        right: 0;
        top: 0;
        height: 35px;
        width: 35px;
        background: transparent;
        border: none;
      }
      input[type="text"]{
        width: 170px;
        transition: all .3s;
        &:focus{
          width: 200px;
        }
      }
    }
  }
}
.alphwr{
  margin-bottom: 15px;
  text-align: center;
  overflow-x: auto;
  overflow-y: hidden;
  .alphabet{
    display: inline-block;
    min-width: 635px;
    &:after{
      .clnr;
    }
    li{
      float: left;
      list-style: none;
      margin: 0 3px;
      &.active{
        a{
          background: @link-color;
          color: @white;
        }
      }
      a{
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        text-align: center;
        vertical-align: middle;
        line-height: 24px;
        &:hover{
          background: @link-color;
          color: @white;
          text-decoration: none;
        }
      }
    }
  }
}
.logoname{
  width: 260px;
  height: 45px;
  background: url("../images/logoname.png");
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  margin: auto;
  a{
    display: block;
    height: 100%;
  }
}
@media screen and (max-width: 767px){
  .topmenu ul li{
    float: none;
  }
}
@media screen and (max-width: 599px){
  .logoname{
    display: none;
  }
}