<template>
    <div class="song-accords__inner">
        <div v-for="(accord, index) in currAccords"
             :key="'ac_img_' + index"
             class="song-accords__el"
        >
            <img class="song-accords__img"
                 @error="hideErrorImg($event)"
                 @load="loadImg(index)"
                 :src="'/images/accords/' + accord + '.png'"
                 :alt="accord"
            >
        </div>
    </div>
</template>

<script>
     export default{
        name: "AccordListComp",
         props: {
            accords: Array
         },
         computed: {
             currAccords(){

                 let imgSrcs = {};
                 for(let i = 0 ; i < this.accords.length ; i++){

                     let src = this.accords[i].toLowerCase().replace('/', '_').replace('#', 'sharp');
                     imgSrcs[src] = true;

                 }

                return Object.keys(imgSrcs);

             }
         },
         methods: {
             hideErrorImg(e){
                 e.target.style.display = 'none';
             },
             loadImg(i){
                document.getElementsByClassName('song-accords__img')[i].style.display = 'block';
             }
         }
    }
</script>
