<template>
    <table v-if="show"
           class="table-striped"
           :class="{'songs-sort-name': lastSort == 'name'}"
    >
        <thead>
            <tr>
                <th @click="sortBy('name')">
                    <span class="song-list-ctrl song-list-ctrl_type_name icon-sort">Композиция</span>
                </th>
                <th></th>
                <th class="viewscount" @click="sortBy('views')">
                    <span class="song-list-ctrl song-list-ctrl_type_views icon-sort">Просмотры</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="song in songs">
                <td><a :href="song.url">{{song.name}}</a></td>
                <td></td>
                <td class="viewscount">{{song.views}}</td>
            </tr>
        </tbody>
    </table>
</template>

<script>
    let sortByName = (a, b) => {
        return a.name.toLowerCase() > b.name.toLowerCase();
    };

    let sortByViews = (a, b) => {
        return +a.views > +b.views;
    };

    let sortByNameConversely = (a, b) => {
        return a.name.toLowerCase() < b.name.toLowerCase();
    };

    let sortByViewsConversely = (a, b) => {
        return +a.views < +b.views;
    };

    export default {
        name: "SongsListComp",
        props: {
            songs: Array
        },
        data(){
            return {
                show: false,
                sortDirect: false,
                lastSort: 'name'
            }
        },
        methods: {
            sortBy(type){

                if(type == 'views' && this.sortDirect){
                    this.songs = this.songs.sort(sortByViews);
                }else if(type == 'views' && !this.sortDirect){
                    this.songs = this.songs.sort(sortByViewsConversely);
                }else if(type == 'name' && !this.sortDirect){
                    this.songs = this.songs.sort(sortByNameConversely);
                }else{
                    this.songs = this.songs.sort(sortByName);
                }

                this.lastSort = type;
                this.sortDirect = !this.sortDirect;
            }
        },
        mounted(){

            let staticTable = document.getElementById('staticSongList');
            staticTable.parentNode.removeChild(staticTable);
            this.show = true;
        }
    }
</script>